<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>@themost-framework | GraphQL Service Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/graphiql@2.4.6/graphiql.css"
        integrity="sha256-nu5CCqjk4hK0QyjwA92BqQlY/gi4G5mXwBwQS13sStY="
        crossorigin="anonymous">
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" integrity="sha512-Wr9OKCTtq1anK0hq5bY3X/AvDI5EflDSAh0mE9gma+4hl+kXdTJPKZ3TwLMBcrgUeoY0s3dq9JjhCQc7vddtFg==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" integrity="sha512-Vf2xGDzpqUOEIKO+X2rgTLWPY+65++WPwCHkX2nFMu9IcstumPsf/uKKRd5prX3wOu8Q0GBylRpsDB26R6ExOg==" crossorigin="anonymous"></script>
</head>
<body>
</body>
    <script src="https://cdn.jsdelivr.net/npm/graphiql@2.4.6/graphiql.min.js"
        integrity="sha256-jNKxju3crrRY+PmXSdGiH/HQjv07qluG5FzSWIzzapc="
        crossorigin="anonymous"></script>
</html>